﻿@model QuestGame.Models.Game

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Описание сценария</h2>
<h3 class="page-header">Вы действительно хотите удалить данный сценарий игры?</h3>
<div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Количество стадий
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stages.Count)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <dl class="dl-horizontal">
                <dt>

                </dt>
                <dd>
                    <input type="submit" value="Удалить" class="btn btn-primary" />
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Назад к описанию", "Details", new { id = Model.ID },new {@class = "btn btn-default"})
        </div>
    }

</div>
