﻿@model QuestGame.Models.Game


@{
    ViewBag.Title = "Описание игры";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Описание игры</h2>

<div class="list-group">
    <a href="/Admin/Games/Edit/@Model.ID" class=" list-group-item">
        <h4 class="list-group-item-heading">@Html.DisplayFor(model => model.Name)</h4>
        <p class="list-group-item-text">@Html.DisplayFor(model => model.Description)</p>
        <p class="list-group-item-text">Количество этапов: @Model.Stages.Count</p>
    </a>
</div>
<p>
    @Html.ActionLink("Добавить этап", "Create", "Stages", new { id = Model.ID }, new { @class = "btn btn-primary" })
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @using QuestGame.Models
    @foreach (var Item in Model.Stages.ToList().OrderBy(p => p.Position))
    {
        <div class="panel panel-success">
            <div class="panel-heading" role="tab" id="heading_@Item.ID">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@Item.ID" aria-expanded="false" aria-controls="collapse_@Item.ID">
                        Этап №@Item.Position
                    </a>
                    <div class="pull-right">
                        <a href="/Admin/Stages/Edit/@Item.ID"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/Admin/Stages/Delete/@Item.ID"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </h4>
            </div>
            <div id="collapse_@Item.ID" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="heading_@Item.ID">

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayNameFor(item => Item.Question)</h4>
                        <p class="list-group-item-text">@Html.DisplayFor(item => Item.Question)</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayNameFor(item => Item.QRQuestion)</h4>
                        <p class="list-group-item-text">@Html.DisplayFor(item => Item.QRQuestion)</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayNameFor(item => Item.Answer)</h4>
                        <p class="list-group-item-text">@Html.DisplayFor(item => Item.Answer)</p>
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayNameFor(item => Item.Help)</h4>
                        @if (Item.Help == null)
                        {
                            <p class="list-group-item-text">Отсутствует</p>
                        }
                        else
                        {
                            <p class="list-group-item-text">@Html.DisplayFor(item => Item.Help)</p>
                        }
                    </li>
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">@Html.DisplayNameFor(item => Item.Location.Name)</h4>
                        <p class="list-group-item-text">@Html.DisplayFor(item => Item.Location.Name)</p>
                    </li>
                </ul>

            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Назад к списку", "index", null, new { @class = "btn btn-default" })
</div>

