﻿@model IEnumerable<QuestGame.Models.Game>

@{
    ViewBag.Title = "Управление сценариями";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header ">Управление сценариями</h2>

<p>
    @Html.ActionLink("Добавить сценарий игры", "Create",null, new { @class = "btn btn-primary" })
</p>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="/Admin/Games/Details/@item.ID" class="list-group-item">
            <h4 class="list-group-item-heading">@Html.DisplayFor(modelItem => item.Name)</h4>
            <p class="list-group-item-text">@Html.DisplayFor(modelItem => item.Description)</p>
            <p class="list-group-item-text">Количество этапов: @item.Stages.Count</p>
</a>
    }
</div>
