﻿@model QuestGame.Areas.Admin.Models.Users.DetailsUserViewModel
@using QuestGame.Extensions;
@{
    ViewBag.Title = "Описание пользователя";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Описание пользователя</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email) @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
    

    <dl class="dl-horizontal">
        <dt>

        </dt>
        <dd>
            @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new {@class ="btn btn-primary"})
        </dd>
    </dl>

    <div>
        @Html.ActionLink("Назад к списку", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

