﻿@model QuestGame.Areas.Admin.Models.Users.ListUsersViewModel

@{
    ViewBag.Title = "Управление пользователями";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    @Styles.Render("~/Content/chosen")
}

<h2 class="page-header">Управление пользователями</h2>


@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            @Html.ActionLink("Добавить пользователя", "Create", null, new { @class = "btn btn-primary" })
        </div>
        <div class="form-group" style="width: 280px">
            @Html.ListBox("SchoolsID", Model.Schools as SelectList, htmlAttributes: new { @class = "chosen", @data_placeholder = "Учебные заведения" })
        </div>
        <div class="form-group" style="width: 280px">
            @Html.ListBox("SubjectsID", Model.Subjects as SelectList, htmlAttributes: new { @class = "chosen", @data_placeholder = "Предметы сдаваемые на ЕГЭ" })
        </div>
        <div class="form-group">
            <button type="submit" name="WebReport" class="btn btn-primary">
                <i class="glyphicon glyphicon-filter"></i>
            </button>
            <button type="submit" name="ExcelReport" class="btn btn-success">
                <i class="glyphicon glyphicon-save"></i>
            </button>
        </div>
    </div>
}


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Учебное заведение</th>
                <th>Эл. почта</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.School)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a href="/Admin/Users/Details/@item.Id"><i class="glyphicon glyphicon-info-sign"></i></a>
                        <a href="/Admin/Users/Edit/@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/Admin/Users/Delete/@item.Id"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/chosen")
    <script>
        jQuery(document).ready(function () {
            jQuery(".chosen").chosen();
        });
    </script>
}

