﻿@model QuestGame.Models.Subject

@{
    ViewBag.Title = "Удаление предмета ЕГЭ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Описание предмета ЕГЭ</h2>
<h3 class="page-header">Вы действительно хотите удалить данный предмет ЕГЭ</h3>
<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <dl class="dl-horizontal">
                <dt>

                </dt>
                <dd>
                    <input type="submit" value="Удалить" class="btn btn-primary" />
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Назад к списку", "index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
