﻿@model IEnumerable<QuestGame.Models.Subject>

@{
    ViewBag.Title = "Дополнительные предметы, сдаваемые на ЕГЭ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить предмет", "Create", null, new { @class = "btn btn-primary" })
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Предмет, сдаваемый на ЕГЭ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a href="/Admin/Subjects/Edit/@item.ID"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/Admin/Subjects/Delete/@item.ID"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
