﻿@model IEnumerable<QuestGame.Models.School>

@{
    ViewBag.Title = "Управление учебными заведениями";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Управление учебными заведениями</h2>

<p>
    @Html.ActionLink("Добавить учебное заведение", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @using QuestGame.Models
    @foreach (var Item in Model)
    {
        <div class="panel panel-success">
            <div class="panel-heading" role="tab" id="heading_@Item.ID">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@Item.ID" aria-expanded="false" aria-controls="collapse_@Item.ID">
                        @Item.Name
                    </a>
                    <div class="pull-right">
                        <a href="/Admin/Schools/Edit/@Item.ID"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="/Admin/Schools/Delete/@Item.ID"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </h4>
            </div>
            <div id="collapse_@Item.ID" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="heading_@Item.ID">

                <ul class="list-group">
                    @foreach (var game in Item.Games)
                    {
                        <li class="list-group-item">
                            <p class="list-group-item-heading">
                                @Html.DisplayFor(g => game.Name)
                            </p>
                        </li>
                    }
                </ul>

            </div>
        </div>
    }
</div>



