﻿@model QuestGame.Models.Stage

@{
    ViewBag.Title = "Удаление этапа";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Удаление этапа</h2>

<h3 class="page-header">Вы действительно хотите удалить данный этап?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QRQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QRQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Help)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Help)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <dl class="dl-horizontal">
                <dt>
                    
                </dt>
                <dd>
                    <input type="submit" value="Удалить" class="btn btn-primary" />
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Назад к сценарию", "Details", new { Controller = "Games", id = Model.GameID }, new { @class = "btn btn-default" })
        </div>
    }
</div>
