﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
   
    @Styles.Render("~/Content/Admin")
    @Styles.Render("~/Content/submenu")
    @RenderSection("styles", required: false)


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/submenu")
   
    @RenderSection("scripts", required: false)

</head>
<body>
    @Html.Partial("_Header")

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <!--Sidebar content-->
                <ul class="nav nav-sidebar">
                    <li class="active">@Html.ActionLink("Главная", "Index", "Main")</li>
                    <li class="active">@Html.ActionLink("Пользователи", "Index", "Users")</li>
                    <li class="active">@Html.ActionLink("Учебные заведения", "Index", "Schools")</li>
                    <li class="active">@Html.ActionLink("Сценарии игры", "Index", "Games")</li>
                    <li class="active">@Html.ActionLink("Местоположения", "Index", "Locations")</li>
                    <li class="active">@Html.ActionLink("Предметы ЕГЭ", "Index", "Subjects")</li>
                    <li class="active">
                        <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Статистика<span class="caret"></span></a>
                        <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                            <li>@Html.ActionLink("Активность пользователей", "ActiveUsers", new { area = "Admin", controller = "Statistics" })</li>
                            <li>@Html.ActionLink("Процент завершения игры", "CompleteGame", new { area = "Admin", controller = "Statistics" })</li>
                            <li>@Html.ActionLink("Средний процент завершения игры", "AverageCompleteGame", new { area = "Admin", controller = "Statistics" })</li>
                            <li>@Html.ActionLink("Ответы пользователей", "Answers", new { area = "Admin", controller = "Statistics" })</li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">Настройки<span class="caret"></span></a>
                        <ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
                            <li>@Html.ActionLink("Сервис синхронизации", "SyncService", new { area = "Admin", controller = "Settings" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>
    


</body>
</html>
