﻿@model QuestGame.Areas.Admin.Models.Statistics.ActiveOrPercentViewModel
@{
    ViewBag.Title = "Активность участников игры";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section styles{
    @Styles.Render("~/Content/chosen")
    @Styles.Render("~/Content/datepicker")
}



<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.GameID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GameID, Model.Games as SelectList, "Выберите сценарий игры", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GameID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.BootstrapDatePicker(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.BootstrapDatePicker(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SchoolsID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SchoolsID, Model.Schools as SelectList, htmlAttributes: new { @class = "chosen", @data_placeholder = "Выберите учебные заведения" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" name="ActiveUsersGraph" class="btn btn-primary">Отобразить статистику</button>
                <button type="submit" name="ActiveUsersExcel" class="btn btn-success">
                    <i class="glyphicon glyphicon-save"></i>
                </button>
            </div>
        </div>
    </div>
}


@if (Model.Chart != null)
{

    @(Model.Chart)
}

@section scripts {
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/highcharts")
    <script>
        jQuery(document).ready(function () {
            jQuery(".chosen").chosen();
        });
    </script>
    @Scripts.Render("~/bundles/datepicker")
}





