﻿@model IEnumerable<QuestGame.Models.AnswerUser>

@{
    ViewBag.Title = "Ответы пользователей";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">@ViewBag.Title</h2>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Пользователь
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage.Game.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerCorrect)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UseHelp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAnswer)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stage.Game.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stage.Position)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnswerCorrect)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UseHelp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAnswer)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

