﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Квест игра", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("Домашняя страница", "Index", new { area = "", controller = "Home" })</li>*@
                @*<li>@Html.ActionLink("О программе", "About", new { area = "", controller = "Home" })</li>*@
                @*<li>@Html.ActionLink("Контакт", "Contact", new { area = "", controller = "Home" })</li>*@
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Панель администратора<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Главная", "Index", new { area = "Admin", controller = "Main" })</li>
                            <li>@Html.ActionLink("Пользователи", "Index", new { area = "Admin", controller = "Users" })</li>
                            <li>@Html.ActionLink("Учебные заведения", "Index", new { area = "Admin", controller = "Schools" })</li>
                            <li>@Html.ActionLink("Сценарии игры", "Index", new { area = "Admin", controller = "Games" })</li>
                            <li>@Html.ActionLink("Местоположения", "Index", new { area = "Admin", controller = "Locations" })</li>
                            <li>@Html.ActionLink("Предметы ЕГЭ", "Index", new { area = "Admin", controller = "Subjects" })</li>
                            <li class="dropdown-submenu">
                                <a href="#" tabindex="0" class="dropdown-toggle"  data-toggle="dropdown" aria-expanded="false">Статистика</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Активность пользователей", "ActiveUsers", new { area = "Admin", controller = "Statistics" })</li>
                                    <li>@Html.ActionLink("Процент завершения игры", "CompleteGame", new { area = "Admin", controller = "Statistics" })</li>
                                    <li>@Html.ActionLink("Средний процент завершения игры", "AverageCompleteGame", new { area = "Admin", controller = "Statistics" })</li>
                                    <li>@Html.ActionLink("Ответы пользователей", "Answers", new { area = "Admin", controller = "Statistics" })</li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#" tabindex="0" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Настройки</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Сервис синхронизации", "SyncService", new { area = "Admin", controller = "Settings" })</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                }

            </ul>
            @Html.Partial("_LoginPartial");
        </div>
    </div>
</div>
