﻿@model QuestGame.Areas.Admin.Models.SettingsSyncServiceViewModel
@{
    ViewBag.Title = "Очистка данных об удаленных записях в таблицах синхронизации";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="page-header">Настройка сервиса синхронизации</h2>
<h3 class="page-header">@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Date, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Очистить данные</button>
            </div>
        </div>
    </div>
}
